body{
  background-color:rosybrown;
  font-family:Arial ,sans-serif;
}
.business-card{
  width:300px;
  padding:20px;
  margin:100px;
  font-size:16px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  background-color:white;
 border: 2px solid black;


}
.profile-image{
  max-width:100%;
}
p{
  margin-top:5px;
  margin-bottom:5px;
}

a{
  text-decoration:none;
}
.social-media{
  width:300px;
  padding:20px;
  margin:20px auto;
  font-size:16px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  margin-top:0;
  
  
} 