body{
  font-family:Arial, sans-serif;
  background-color:#f5f6f7;
  padding:0;
  margin:0;
}
h1 {
  text-align: center;
  margin-top: 30px;
}
a {
  text-decoration: none;
}

a:link {
  color:green;
}

a:visited{
  color:red;
}

a:hover{
  color:pink;

}

a:focus{
  border: 2px solid orange;
}

a:active{
  color:blue;
}
.todo-list {
  list-style: none;
  padding: 0;
  width: 60%;
  margin: 30px auto;
}
.todo-list > li {
  background-color: #e6f3e6;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}
.sub-item {
  list-style-type: square;
  margin-top: 10px;


